body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --colorPrimaryDark: #000000;
  --colorPrimaryLight: #FFFFFF;
  --colorBackground: #ffffff;
  --colorAccent: #000000;
  --colorBorder: #000000;
  --gutter: 0 16px;
  --border: 1.5px solid var(--colorBorder);
  --radius: 5px;
}